@using HtmlHelpers
@using Web.Helpers
@model Web.ViewModels.CruiseCreateEditViewModel

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>


<div>    
    <h4>Cruise</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cruise.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cruise.CruiseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise.CruiseLeaders)
        </dt>

        <dd>            
            @if (Model.Cruise.CruiseLeaders.Count > 0)
            {
                foreach (var leader in Model.Cruise.CruiseLeaders)
                {
                    @(leader.Person.Firstname + " " + leader.Person.Lastname)<br>
                }
            }
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise.StartDate)
        </dt>
        <dd>
            @Model.Cruise.StartDate
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise.EndDate)
        </dt>
        <dd>
            @Model.Cruise.EndDate
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Cruise.CruisePersons)
        </dt>

        <dd>
            @if (Model.Cruise.CruisePersons.Count > 0)
            {
                foreach (var person in Model.Cruise.CruisePersons)
                {
                    @(person.Person.Firstname + " " + person.Person.Lastname)<br>
                }
            }

        </dd>

    </dl>
</div>

<p>    
    @Html.ActionLink("Edit", "Edit", new {id = Model.Cruise.CruiseId}) |
    @Html.ActionLink("Back to List", "Index")
</p>