@using HtmlHelpers
@using Web.Helpers
@model Web.ViewModels.CruiseCreateEditViewModel

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>


<div>    
    <h4>Cruise</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cruise.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cruise.CruiseName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.CruiseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CruiseName)
        </dd>*@

    </dl>
</div>

<p>    
    @Html.ActionLink("Edit", "Edit", new {id = Model.Cruise.CruiseId}) |
    @Html.ActionLink("Back to List", "Index")
</p>