@using HtmlHelpers
@using Web.Helpers
@model Web.ViewModels.ProjectCreateEditViewModel

@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectLeaders)
        </dt>

        <dd>
            @if (Model.Project.ProjectLeaders.Count > 0)
            {
                foreach (var leader in Model.Project.ProjectLeaders)
                {
                    @(leader.Person.Firstname + " " + leader.Person.Lastname)<br>
                }
            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </dt>
        <dd>
            @Model.Project.StartDate
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </dt>
        <dd>
            @Model.Project.EndDate
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectPersons)
        </dt>

        <dd>
            @if (Model.Project.ProjectPersons.Count > 0)
            {
                foreach (var person in Model.Project.ProjectPersons)
                {
                    @(person.Person.Firstname + " " + person.Person.Lastname)<br>
                }
            }

        </dd>


    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ProjectId }) |    
    @Html.ActionLink("Back to List", "Index")
</p>