@model Web.ViewModels.ProjectIndexViewModel


@{
    ViewBag.Title = "Index";

    //Move them to some html helper class?
    // https://msdn.microsoft.com/en-us/library/bb549151(v=vs.110).aspx
    // 2 parameter types and result type
    Func<string, string, string> getSortProperty = (propertyName, currentSortProperty) => currentSortProperty == propertyName ? "_" + propertyName : propertyName;

    Func<string, string, string> getSortIcon = (propertyName, currentSortProperty) => currentSortProperty == propertyName ? "fa-sort-up" : currentSortProperty == "_" + propertyName ? "fa-sort-down" : "fa-sort";
}

<h2>Index</h2>

<div class="row">
    <div class="col-md-12">

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                @*<th>
                        @Html.DisplayNameFor(model => model.ProjectLeader.Firstname)
                    </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().ProjectLeaders)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Projects.FirstOrDefault().ProjectPersons)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.Projects)
            {
                <tr>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.ProjectLeader.Firstname)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>

                    <td>
                        @item.ProjectLeaders.Count
                        @if (item.ProjectLeaders.Count > 0)
                        {
                            var leader = item.ProjectLeaders.FirstOrDefault()?.Person;
                            <text>(</text>
                            @(leader?.Firstname + " " + leader?.Lastname)
                            <text>)</text>
                        }
                        @if (item.ProjectLeaders.Count > 1)
                        {
                            <text>...</text>
                        }
                    </td>
                    <td>
                        @if (item.ProjectPersons.Count > 0)
                        {
                            @item.ProjectPersons.Count
                        }
                        @if (item.ProjectPersons.Count < 1)
                        {
                            <text>Persons not set</text>
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
                    </td>
                </tr>
            }


        </table>
    </div>
</div>
